<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xm:lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Alpha Blog: About</title>
    </head>
    <body style="background-color:lightblue;">
        <h1>
            ABOUT
        </h1>
        <h3>
            This is a sample about page for the alpha blog
        </h3>
        <hr>
        <p title="To Home page"> To go to the home page, click here: <%= link_to 'Home', root_path %></p>
        <p title="To Other page"> To go to the about page, click here: <%= link_to 'Other', other_path %></p>
    </body>
</html>